# URL to connect to the backend web services
API_URL="/api/"

#Wired Elements IDs
CONTEXT_FORM_QUESTION_COURSES_LAST_YEAR_ID = 67efe81a872ac500087f3c00
CONTEXT_FORM_QUESTION_COURSES_LAST_YEAR_OPTION_YES_ID = 990502
CONTEXT_FORM_QUESTION_HOW_MANY_COURSES_ID = 67efe990872ac500087f3c01

# Basic frontend settings
TITLE=""
WEBSITE_URL=""
PROJECT_NAME=""

# Google Analytics ID
TRACKING_ID=

# Default language
DEFAULT_LOCALE="es"